*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


/*navbar*/

/*nav-logo*/
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
   
    align-items: center;    /*cross axis(y axis) me center means all items goes to center from top*/
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("/amazonClone/images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/*nav-address*/
.add-deliverTo{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-india{
    color: white;
    margin-left: 5px;
}

/* dono icon aur india 1 hi line pe chahiye to container ko flex banado */
.nav-icon{
    display: flex;
}

/*search box*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #d3dede;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    /* jo bhi khali area tha space evenly krne ke baad wo sad input ko mil jaye isliye wdt 100% */
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    /* jo magnifying glass hai wo center me hai.... isliye uske parent ko matlab wo container ko flex krke usko center mein lane ki properties apply */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size:1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}


/*language div*/

.nav-lang{
    display: flex;
}
.nav-lang-flag{
    margin-right: 5px;
}
.nav-lang-arrow{
    margin-top: 5px;
    color: #a7acb2;
    font-size: 0.85rem;
}

/* sign in  */
.nav-sign-in-para1{
    font-size: 0.7rem;
}
.nav-sign-in-para2{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart  */
.nav-cart{
    /* display: flex; */
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}

/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.panel-options{
    width: 80%;
}
.panel-options a{
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    margin-left: 15px;
}
.panel-options a:hover{
    border: 2px solid white;
}
.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}


/* hero section  */
.hero-section{
    background-image: url("/amazonClone/images/heroSectionImg_1.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    /* msg ka container */
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    /* msg  */
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}

/* shop-section */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    background-color: #f3f3f3;
}

.shop-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.shop-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.shop-box p {
    font-size: 12px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container div {
    text-align: center;
    width: 45%;
    margin-bottom: 15px;
}

.image-container img {
    width: 100%;
    /* border-radius: 5px; */
}

.shop-box a {
    display: block;
    margin-top: 10px;
    color: #007185;
    text-decoration: none;
    font-size: 14px;
}

.full-width-image{
    width: 100%;
    height: auto;
}

/* box-6 */
.rowspan-img img{
    width: 100%;
    display: block;
}
.rowspan-down-image{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rowspan-down-image div {
    text-align: center;
    width: 30%;
    margin-right:10px;
}

.rowspan-down-image img {
    width: 100%;
    margin-top: 15px;
}


/* scroll1 */
.section {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

.carousel {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding: 10px 0;
    background-color: #c9c5c3;
}

.carousel-container {
    display: flex;
    gap: 10px;
}

.carousel img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
}

.carousel img:hover {
    transform: scale(1.05);
}

/* footer */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;

    /* to center  */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}